@font-face {
    font-size: 1rem;
    font-family: "Helvetica Neue"，"Arial",  "STHeiti Light ", "Microsoft YaHei", sans-serif;
}

body {
    font-size: 1rem;
    font-family:  "Helvetica Neue", "Arial", "STHeiti Light", "Microsoft YaHei"
}
blockquote {
    font-size: .95em;
}

ul li ul {
    font-size: .9rem;
}

.container{
    max-width: 900px
}
